@import url('https://fonts.cdnfonts.com/css/cyber-tittle');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main
{
    font-family: 'Cyber Tittle', sans-serif;
                                                
}
h1
{
    color: black;
    background-color: #4c0027;
    margin: 12px;
    padding: 50px;
}
p
{
    color: white;
}
body
{
    background-color: black;
    margin: 0;
    padding: 0; 
}
nav
{
    background-color:#d8f8e1 ;
    display: inline-block;
    
}
.inicio-2
{
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}