@import url('https://fonts.cdnfonts.com/css/thunderblack-demo');


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1
{
    font-family: 'THUNDERBLACK DEMO', sans-serif;
    color: black;
   
    

}
a
{
    color: white;
    text-decoration: none;
}
.block-1
{
    background-color: brown;
    
}
.block-2
{
    background-color: #082032;
}
.block-3
{
    background-color: #1e5128;
}
.block-4
{
    background-color: #4c0027;
}
.block-5
{
    background-color: grey;
}
.block-6
{
    background-color: #a25107;
}
.block-7
{
    background-color: #a29607;
}
.block-8
{
    background-color: #5b0045;
}
.block-element
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: grey;
    margin: 10px;
    padding: 50px;
    color: white;
    font-family: 'THUNDERBLACK DEMO', sans-serif;
                                                
                                                                                               
}
h1
{
    
    background-color: white;
    margin: 10px;
    padding: 50px;  
   
}

main
{
    background-color: black;
    margin: 0;
    padding: 0; 
}
body
{
    background-color: black;
    margin: 0;
    padding: 0; 
}
footer
{
    color: white;

}
