@import url('https://fonts.cdnfonts.com/css/cyber-tittle');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main
{
    font-family: 'Cyber Tittle', sans-serif;
                                                
}
h1
{
    background-color: #a25107;
    margin: 12px;
    padding: 5px;
}
.tiempo
{
    color: white;
    background-color: #420516;
}
.hora
{
    background-color: brown;
}
.dias
{
    background-color: #950101;
}

body
{
    background-color: black;
}
tbody
{
    background-color: black;
    color: white;
}