@import url('https://fonts.cdnfonts.com/css/cyber-tittle');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main
{
    font-family: 'Cyber Tittle', sans-serif;
                                                
}
p
{
    color: #fff;
}

.block-element
{
    font-family: 'Cyber Tittle', sans-serif;   
    background-color: #a29607;
    margin: 12px;
    padding: 50px;
    
}
body
{
    background-color: black;
    margin: 0;
    padding: 0; 
}
nav
{
    background-color:#ffffff ;
    display: inline-block;
    
}
.inicio 
{
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    background: #b0f2c2;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}